@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    background: #630000;
    margin: 0px;
    border: 2px solid white;
    line-height: 16px;
}

.header{
    background: #910023;
    width: 368px;
    height: 60px;
    color: #FFFFFF;
    background-image: url(/icons/header_bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 500px;
}

.sub-title{
    z-index: 2;
    position: absolute;
    left: 251px;
    top: 10px;
    font-size: 10px;
}

.developer{
    text-decoration: none;
    position: absolute;
    left: 71px;
    top: 375px;
    font-weight: normal;
    font-size: 5px;
    color: white;
}

.button{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 113px 113px 113px;
    grid-template-rows: 55px 55px 55px 55px 55px 43px;
}

.button > a{
    z-index: 3;
    margin-top: 11px;
    margin-left: 12px;
    text-decoration: none;
    width: 110px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #910023;
    box-sizing: border-box;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    font-size: 13px;
    color: #910023;
    display: flex;
    align-items: center;
}

.button > a:hover{
    color: #ff782d;
    cursor: pointer;
}

.button > a:active{
    transform: translateY(5px);
}

.button img{
    vertical-align: middle;
    image-rendering: auto;
    width: 30%;
    padding: 3px;
}

select{
    position: absolute;
    width: 228px; /* long: 346px, short: 226px, normal: 285px */
    height: 37px;
    padding-left: 12px;
    top: 14px;
    left: 14px;
    border: 2px solid #910023;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
    color: #910023;
    font-family: inherit;
    font-weight: bold;
    font-size: 13px;
    outline: none;
    appearance: none;
    background: white url("/icons/arrow.png") no-repeat right 10px center;
    background-size: 14px;
}

select:hover{
    cursor: pointer;
}
